body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Cloud theme background color */
}

header {
    background-color: #71d5eb; /* Green Color for Header */
    color: white;
    padding: 10px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #71d5eb; /* Green color for button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #71d5eb; /* Darker green color on hover */
}

#confirmationMessage {
    text-align: center;
    padding: 20px;
    background-color: #dff0d8; /* Light green color for confirmation message */
    border: 1px solid #d6e9c6;
    color: #71d5eb;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Initially hide the confirmation message */
    transition: opacity 0.3s ease; /* Add transition effect */
}

#confirmationMessage.show {
    opacity: 1; /* Show the confirmation message with transition effect */
}

.cloud-icon {
    width: 50px;
    height: auto;
    margin-right: 10px;
}
