<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel Weekly Menu</title>
    <link rel="stylesheet" href="food.css">
</head>
<body>
    <header>
        <h1>Hostel Weekly Menu</h1>
    </header>
    <main>
        <section class="menu-day">
            <h2>Monday</h2>
            <div class="meal">
                <h3>Breakfast</h3>
                <p>Masal Dosa | Pungal + Sambar + Coconut Chutney | Bread Butter Jam | Coffees/Milk</p>
            </div>
            <div class="meal">
                <h3>Lunch</h3>
                <p>Chapathi(2 pcs) + Paneer Tikka Masala | Bisabella Bath + Potato Chips | White Rice + Samabar + Poriyal + Rasam + Curd</p>
            </div>
            <div class="meal">
                <h3>Snacks</h3>
                <p>Vada Pav/Pani Poori(spcs)/Kachori | Tea/Milk/Coffee</p>
            </div>
            <div class="meal">
                <h3>Dinner</h3>
                <p>Chapathi + Aloo Mutten Masala | Green Peas Pulav + Egg Masala | White Rice + Rasam + Butter Mlik</p>
            </div>
        </section>
        <section class="menu-day">
            <h2>Tuesday</h2>
            <div class="meal">
                <h3>Breakfast</h3>
                <p>Poori + Alou Masal | Idly + Sambar + Groundnut Chutney | Bread Butter Jam | Coffee/Mlik</p>
            </div>
            <div class="meal">
                <h3>Lunch</h3>
                <p>veg Biriyani + Curd Pachadi | White Rice + Plain Chicken Kuruama + poriyalkottu + Rasam + Curd + Paruppu podi + Ghee + Pappad</p>
            </div>
            <div class="meal">
                <h3>Snacks</h3>
                <p>Veg Samosa/Veg Chappathi Roll + Sause + Mint Chutney | Tea/Milk/Coffee</p>
            </div>
            <div class="meal">
                <h3>Dinner</h3>
                <p>Veg Noodles + Sauce | Veg Masala Dosa + Coconut Chutany + Sambar | White Rice + Rasam + Butter Mlik</p>
            </div>
        </section>
        <section class="menu-day">
            <h2>Wednesday</h2>
            <div class="meal">
                <h3>Breakfast</h3>
                <p>Chappathi + Green Peas Masala | Semiya + Coconut Chutney | Bread Butter Jam | Coffee/Milk</p>
            </div>
            <div class="meal">
                <h3>Lunch</h3>
                <p>Veg Fried Rice + Aloo Fry + White Rice + Sambar + Avlyal + Rasam + curd | Paruppu Podi + Ghee + Pappad</p>
            </div>
            <div class="meal">
                <h3>Snacks</h3>
                <p>Pav Baji/Pasta | Tea/Milk/Coffee</p>
            </div>
            <div class="meal">
                <h3>Dinner</h3>
                <p>Parotta + Idly + Chicken Gravy + Papper Chicken/Chicken Chattinadu + Papper Mushroom/veg Manchurian Mushroom | White Rice + Rasam + Butter Milk</p>
            </div>
        </section>
        <section class="menu-day">
            <h2>Thursday</h2>
            <div class="meal">
                <h3>Breakfast</h3>
                <p>Aloo stuffed Paratha + Curd + Pickle | Idly + Tomato Gravy + Mint Chutney | Bread Butter Jam | Coffee/Mlik</p>
            </div>
            <div class="meal">
                <h3>Lunch</h3>
                <p>Chapathi(2 pcs) + Paneer Tikka Masala | Bisabella Bath + Potato Chips | White Rice + Samabar + Poriyal + Rasam + Curd</p>
            </div>
            <div class="meal">
                <h3>Snacks</h3>
                <p>Veg Puff/Egg Puff | Tea/Milk/Coffee</p>
            </div>
            <div class="meal">
                <h3>Dinner</h3>
                <p>Chapathi + Aloo Mutten Masala | Green Peas Pulav + Egg Masala | White Rice + Rasam + Butter Mlik</p>
            </div>
        </section>
        <section class="menu-day">
            <h2>Friday</h2>
            <div class="meal">
                <h3>Breakfast</h3>
                <p>Poori + Alou Masal | Idly + Sambar + Groundnut Chutney | Bread Butter Jam | Coffee/Mlik</p>
            </div>
            <div class="meal">
                <h3>Lunch</h3>
                <p>veg Biriyani + Curd Pachadi | White Rice + Plain Chicken Kuruama + poriyalkottu + Rasam + Curd + Paruppu podi + Ghee + Pappad</p>
            </div>
            <div class="meal">
                <h3>Snacks</h3>
                <p>Biscut | Tea/Milk/Coffee</p>
            </div>
            <div class="meal">
                <h3>Dinner</h3>
                <p>Veg Noodles + Sauce | Veg Masala Dosa + Coconut Chutany + Sambar | White Rice + Rasam + Butter Mlik</p>
            </div>
        </section>
        <section class="menu-day">
            <h2>Saturday</h2>
            <div class="meal">
                <h3>Breakfast</h3>
                <p>Chappathi + Green Peas Masala | Semiya + Coconut Chutney | Bread Butter Jam | Coffee/Milk</p>
            </div>
            <div class="meal">
                <h3>Lunch</h3>
                <p>Veg Fried Rice + Aloo Fry + White Rice + Sambar + Avlyal + Rasam + curd | Paruppu Podi + Ghee + Pappad</p>
            </div>
            <div class="meal">
                <h3>Snacks</h3>
                <p>Aloo Bonda | Tea/Milk/Coffee</p>
            </div>
            <div class="meal">
                <h3>Dinner</h3>
                <p>Parotta + Idly + Chicken Gravy + Papper Chicken/Chicken Chattinadu + Papper Mushroom/veg Manchurian Mushroom | White Rice + Rasam + Butter Milk</p>
            </div>
        </section>
        <section class="menu-day">
            <h2>Sunday</h2>
            <div class="meal">
                <h3>Breakfast</h3>
                <p>Chappathi + Green Peas Masala | Semiya + Coconut Chutney | Bread Butter Jam | Coffee/Milk</p>
            </div>
            <div class="meal">
                <h3>Lunch</h3>
                <p>Chapathi(2 pcs) + Paneer Tikka Masala | Bisabella Bath + Potato Chips | White Rice + Samabar + Poriyal + Rasam + Curd</p>
            </div>
            <div class="meal">
                <h3>Snacks</h3>
                <p>Biscuit(Britannia & Cream Biscut) | Tea/Milk/Coffee</p>
            </div>
            <div class="meal">
                <h3>Dinner</h3>
                <p>Parotta + Idly + Chicken Gravy + Papper Chicken/Chicken Chattinadu + Papper Mushroom/veg Manchurian Mushroom | White Rice + Rasam + Butter Milk</p>
            </div>
    </main>
    <footer>
    </footer>
    <script src="food.js"></script>
</body>
</html>