body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f5f9; /* Light blue background */
}

header {
    background-color: #4fc3f7; /* Blue header background */
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White content background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #4fc3f7; /* Blue label color */
}

input, button {
    margin-bottom: 10px;
    padding: 10px; /* Increased padding */
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #4fc3f7;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #29b6f6; /* Darker blue on hover */
}

#ticketDetails {
    margin-top: 20px;
}

#feeCounter {
    margin-top: 20px;
}

#coins {
    display: flex;
    align-items: center;
}

#coinCount {
    margin-left: 10px;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(3, 5cm); /* Each column is 5cm */
    grid-template-rows: repeat(3, 5cm); /* Each row is 5cm */
    gap: 10px; /* Gap between buttons */
    justify-content: center; /* Center the grid horizontally */
    align-items: center; /* Center the grid vertically */
}

.menu-button {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #6dc6e5; /* Button background color */
    color: white;
    border-radius: 15px; /* Rounded shape */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Button shadow */
    transition: background-color 0.3s ease; /* Smooth transition for button color */
}

.menu-button:hover {
    background-color: #58a8cf; /* Button background color on hover */
}

/* Styling for the "Back to Home" button */
.menu-button.back-to-home {
    grid-column: span 3; /* Span across 3 columns */
    margin-top: 20px; /* Adjust top margin */
}

.menu-day {
    display: none;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.menu-day.active {
    display: contents;
    border-radius: 10px; /* Rounded shape */
    background-color: rgba(255, 255, 255, 0.8); /* Cloud-shaped container background color */
    padding: 20px;
}
