<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel Students Portal - Transportation</title>
    <link rel="stylesheet" href="transport.css">
</head>
<body>
    <header>
        <h1>Hostel Students Portal - Transportation</h1>
    </header>

    <section class="cloud-theme">
        <h2>Select a Transportation Option</h2>
        <div class="button-container">
            <a href="auto.html"><button id="autoButton" class="cloud-button">Auto</button></h1></a>
            <a href="ticket.html"><button class="cloud-button">College Bus</button></a>
        </div>
    </section>

    <script src="transport.js"></script>
</body>
</html>
