<!-- generator/templates/generator/password_generator.html -->

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Password Generator</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Password Generator</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Generate Password</button>
        </form>
        {% if password %}
            <h3>Generated Password:</h3>
            <textarea rows="4" cols="50" readonly>{{ password }}</textarea>
        {% endif %}
    </div>
</body>
</html>
